* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: "Georgia Serif", serif;*/
  /*border: 1px solid rgb(123, 123, 123);*/
}

body {
  background: #222;
}

/* Remove link underlining for all links */
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.banner {
  position: fixed;
  /*min-height: 100px;*/
  height:80px;
  width: 100%;
  background: #222;
  /*background: rbga(0,0,0,0.3);*/
  padding: 5px 20px 5px 20px;
  /*font-family: "Georgia Serif", serif;*/
  font-family: "Trebuchet MS", "Arial", sans-serif;
  font-size: 18px;
  color: #032131;
  background-color: #063852;
  z-index: 100;
  box-shadow: 0px 3px 5px #111;
  /*border: 1px solid rgb(123, 123, 123);*/
  /*#063852 #34675C # #*/
}

#banner_title {
  width: 400px;
  /*color: #032131;*/
  /*color: #042739;*/
  /*color: #000;*/
  text-shadow: 0px 0px 3px #DDD;
}

#banner_navbar ul {
  list-style-type: none;
  width: 100%;
  display: table;
  table-layout: fixed;
}

#banner_navbar li {
  display: table-cell;
  width: auto;
  text-align: center;
}

#banner_navbar a:link, #banner_navbar a:visited {
  display: block;
  padding: 1em;
  /*font-family: "Georgia", serif;*/
  font-size: 18px;
  color: #666;
  /*color: #032131;*/
  color: #FFF;
  color: #DDD;
}

#banner_navbar a:hover {
  background-color: #666;
  background-color: #063852;
  background-color: #1E4B63;
  /*color: #222;*/
  box-shadow: 0px 0px 3px #DDD;
}

/*Need spacer to position elements below fixed banner*/
#banner_spacer {
  height: 80px;
  width: 100%;
}

.background_images {
  width: 100%
}

h2 {
  display: block;
  padding: 1em;
  clear: left;
  text-align: center;
  font-family: "Trebuchet MS", "Arial", sans-serif;
  /*color: #666;*/
  color: #FFF;
  color: #DDD;
  color: #063852;
  color: #34675C;
  color: #0080D1;
  color: #507385;
  color: #829BA8;
  /*padding-top: 4em;*/
  background-color: #34675C;
  background-color: #13331D;
  background-color: #000;
}

.anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

.section_container {
  position: relative;
  display: inline-block;
  /*border: 1px solid rgb(123, 123, 123);*/
}

.text_container {
  position: absolute;
  height: 50%;
  height: auto;
  text-align: center;
  width: 35%;
  background-color: rgb(200, 200, 200);
  background-color: rgba(0,0,0,0.4);
  margin: 5%;
  /*z-index: 2;*/
}

/*.text_container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}*/

.text_container > p {
  display: inline-block;
  margin: 1em;
  color: #DDD;
  font-family: "Trebuchet MS", "Arial", sans-serif;
}

.section_image {
  display: block;
  max-width: 100%;
  height: auto;
  z-index:1;
}