* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: "Georgia Serif", serif;*/
  /*border: 1px solid rgb(123, 123, 123);*/
}

body {
  background: #222;
}

/* Remove link underlining for all links */
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.banner {
  position: fixed;
  min-height: 100px;
  width: 100%;
  background: #222;
  /*background: rbga(0,0,0,0.3);*/
  padding: 20px;
  /*font-family: "Georgia Serif", serif;*/
  font-family: "Trebuchet MS", "Arial", sans-serif;
  font-size: 24px;
  color: #777;
  z-index: 100;
}

#banner_title {
  width: 400px;
}

#banner_navbar ul {
  list-style-type: none;
  width: 100%;
  display: table;
  table-layout: fixed;
}

#banner_navbar li {
  display: table-cell;
  width: auto;
  text-align: center;
}

#banner_navbar a:link, #banner_navbar a:visited {
  display: block;
  padding: 1em;
  font-family: "Georgia", serif;
  font-size: 20px;
  color: #666;
}

#banner_navbar a:hover {
  background-color: #666;
  color: #222;
}

/*Need spacer to position elements below fixed banner*/
#banner_spacer {
  min-height: 100px;
  width: 100%;
  background: #FFFFFF;
  padding: 20px;
  font-family: "Trebuchet MS", "Arial", sans-serif;
  font-size: 24px;
  color: #000000;
}

/*This text is hidden and only serves to size the banner spacer correctly*/
#banner_spacer_hidden_text {
  height: 3em; /*must match .banner_text height above*/
}

.background_images {
  margin-bottom: -100px;
  width: 100%
}

h2 {
  display: block;
  padding: 1em;
  clear: left;
  color: #666;
  /*padding-top: 4em;*/
}

h2:before {
  display: block;
  content:"";
  /*margin-top: -100px;*/
  height: 100px;
  visibility: hidden;
}

#bm_profile:before {
  margin-top: -100px;
  height: 100px;
  /*height: 200px;*/
}

.section_container {
  position: relative;
  display: inline-block;
  /*border: 1px solid rgb(123, 123, 123);*/
}

.text_container {
  position: absolute;
  height: 50%;
  text-align: center;
  width: 35%;
  background-color: rgb(200, 200, 200);
  background-color: rgba(0,0,0,0.4);
  margin: 5%;
  /*z-index: 2;*/
}

.text_container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.text_container > p {
  display: inline-block;
}

.section_image {
  display: block;
  max-width: 100%;
  height: auto;
  z-index:1;
}