* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: "Georgia Serif", serif;*/
  /*border: 1px solid rgb(123, 123, 123);*/
}

body {
  min-width: 1000px;
  /*background: #222;*/
  background: #E9F1EE; /*~CIL Swan White*/
  font-family: "Trebuchet MS", "Arial", sans-serif;
}

/* Remove link underlining for all links */
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.banner {
  position: fixed;
  /*min-width: 1000px;*/
  height:80px;
  width: 100%;
  /*background: #222;*/
  /*background: rbga(0,0,0,0.3);*/
  padding: 5px 20px 5px 20px;
  /*font-family: "Georgia Serif", serif;*/
  font-family: "Trebuchet MS", "Arial", sans-serif;
  font-size: 18px;
  color: #032131;

  /*background-color: #063852;*/
  background-color: #E9F1EE; /*~CIL Swan White*/
  z-index: 100;
  box-shadow: 0px 3px 5px #111;
  /*border: 1px solid rgb(123, 123, 123);*/
  /*#063852 #34675C # #*/
}

#banner_title {
  width: 400px;
  font-family: "Roboto Condensed", sans-serif;
  font-variant: small-caps;
  /*font-weight: normal;*/
  color: #0C3D82;
  /*color: #032131;*/
  /*color: #042739;*/
  /*color: #000;*/
  /*color: #072146;*/
  /*text-shadow: 0px 0px 3px #DDD;*/
}

#banner_navbar ul {
  list-style-type: none;
  width: 100%;
  min-width: 600px;
  display: table;
  table-layout: fixed;
  /*overflow-x: auto;*/
  /*border: 1px solid rgb(123, 123, 123);*/
}

#banner_navbar li {
  display: table-cell;
  width: auto;
  text-align: center;
  /*border: 1px solid rgb(123, 123, 123);*/
}

#banner_navbar a:link, #banner_navbar a:visited {
  display: block;
  padding: 1em;
  /*font-family: "Georgia", serif;*/
  font-family: "Encode Sans Semi Condensed", "Trebuchet MS", sans-serif;
  font-size: 18px;
  color: #666;
  /*color: #032131;*/
  /*color: #6D98A9;*/ /*~CIL Benton Harbor*/
  /*color: #04315D;*/
  color: #0C3D82;
  /*color: #0D3359;*/
}

#banner_navbar a:hover {
  /*background-color: #666;*/
  /*background-color: #063852;*/
  background-color: #1E4B63;
  background-color: #0C3D82;
  /*color: #222;*/
  color: #E9F1EE;
  /*box-shadow: 0px 0px 3px #DDD;*/
}

/*Need spacer to position elements below fixed banner*/
#banner_spacer {
  height: 80px;
  width: 100%;
}

h2 {
  display: block;
  padding: 1em;
  text-align: center;
  font-family: "Trebuchet MS", "Arial", sans-serif;
  /*color: #666;*/
  /*color: #FFF;
  color: #DDD;
  color: #063852;
  color: #34675C;
  color: #0080D1;
  color: #507385;*/
  color: #829BA8;
  /*padding-top: 4em;*/
  /*background-color: #34675C;
  background-color: #13331D;*/
  background-color: #000;
}

.anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

/*Contains anchor, header, background image, and content*/
.section_container {
  position: relative;
  display: block;
  /*border: 1px solid rgb(123, 123, 123);*/
}

.background_images {
  display: block;
  width: 100%
  /*border: 1px solid rgb(123, 123, 123);*/
}

.content_container {
  position: absolute;
  width: 100%;
  /*z-index: 2;*/
}

.text_container {
  display: inline-block;
  position: relative;
  /*height: 50%;*/
  text-align: left;
  width: 35%;
  background-color: rgb(200, 200, 200);
  background-color: rgba(0,0,0,0.5);
  margin: 5%;
  font-family: "Trebuchet MS", "Arial", sans-serif;
  /*padding: 1em;*/
  color: #CCC;
  /*z-index: 2;*/
}

#text_container_professional {
  width: 90%;
}

/*.text_container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}*/

.text_container > p {
  display: inline-block;
  margin: 1em;
}

#prof_content_container {
  /*border: 1px solid rgb(123, 123, 123);*/
  display: block;
  position: relative;
  margin: 0 5% 5% 5%;
  background-color: #FFF;
}

.professional_category {
  display: inline-block;
  padding: 1em;
  color: #063852;
}

.professional_description {
  padding: 1em;
}

.contact_container {
  position: absolute;
  display: inline-block;
  text-align: right;
  right: 0;
  margin: 5% 0% 0% 0%;
/*  background-color: rgb(200, 200, 200);
  background-color: rgba(0,0,0,0.5);*/
  font-family: "Trebuchet MS", "Arial", sans-serif;
  color: #CCC;
}

.contact_container > p {
  display: inline-block;
  clear: right;
  float: right;
  /*width: auto;*/
  margin: 0 0 3% 0;
  padding: 0.25em 2em 0.25em 0.5em;
  text-align: right;
  font-size: 36px;
  background-color: rgb(200, 200, 200);
  background-color: rgba(0,0,0,0.5);
}

.contact_container > p > a[href^="mailto"] {
  color: #CCC;
}

/*.section_image {
  display: block;
  max-width: 100%;
  height: auto;
  z-index:1;
}*/

.image_credit_dark {
  font-family: "Trebuchet MS", "Arial", sans-serif;
  font-size: 18px;
  color: rgb(25,25,25);
  color: rgba(0,0,0,0.7);
  display: inline;
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
}

.image_credit_light {
  font-family: "Trebuchet MS", "Arial", sans-serif;
  font-size: 18px;
  color: rgb(225,225,225);
  color: rgba(255,255,255,0.6);
  display: inline;
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
}
